#formSnippet > :first-child{
    padding-bottom: 3%;
}
#snippetHeader{
    width: 80%;
    margin: auto;
}

#labelContent {
    display: inline-block;
}

[id^=snippetContent] {
    width: 80%;
    margin: auto;
    margin-top: 1%;
}

#snippetArea {
    display: block;
    width: 80%;
    margin: auto;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

#snippetFooter{
    margin-top: 2%;
}

.btnLink:hover {
    text-decoration: none;
}