*{
    box-sizing: border-box;
}
.btn{
    border:none;
}

html, body {
    min-height: 100vh;
    background: #fff;
}

body > div.container:first-of-type{
    margin-top: 2%;
}

/****** NAVBAR ******/
.navbar-inverse{
    background: #000000;
}

.navbar-inverse .navbar-brand {
    color: #c9243f;
    font-size: 1.5em;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background: rgba(201, 36, 63, 0.6);
}

nav .glyphicon {
    color: #c9243f;
}


/****** PAGINATION ******/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background: rgba(201, 36, 63, 0.6);
    border-color: rgba(201, 36, 63, 0.6);
}
.pagination>li>a, .pagination>li>span,.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color: #c9243f;
}

