.container {
    margin-top: 100px;
    width: 60%;
    background-color: rgb(211, 211, 211);
    border-radius: 4px;
    color: #000000;
}

#formHeader, #formFooter {
    height: 75px;
}

#formHeader, #formFooter {
    color: #fff;
    background: #000000;

}

#formHeader h1 {
    padding-top: calc(75px / 4);
    margin: 0
}

#formInfos {
    padding: 25px 0 25px 0;
}

.rowInfos {
    padding: 15px 0 15px 0;
}

.rowInfos label, .rowInfos input {
    display: block;
    width: 50%;
    text-align: left;
    margin: auto;
}

.rowInfos input, .rowInfos input:focus {
    color: black;
    border-radius: 4px;
    outline: none;
}

#formFooter button {
    font-size: 1.5em;
    line-height: 0.75em;
    height: 50%;
    padding: 0 5% 0 5%;
    margin-top: calc(75px / 4);
}

#changePwd{
    padding-bottom: 2%;
}
