.stylish-input-group .input-group-addon{
    background: white;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.sorted {
    text-decoration: underline;
}

.btnLink:hover {
    text-decoration: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}
.table-striped > thead > tr > th, .table-striped > thead > tr > th a {
    color: #c9243f;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #b6b6b6;
}

.table-striped > tbody > tr:nth-of-type(odd) a {
    color: #000000;
    font-weight: 700;
}

.table-striped > tbody > tr:nth-of-type(even), .table-striped > thead > tr {
    color: white;
    background-color: #383838;
}

.table-striped > tbody > tr:nth-of-type(even) a {
    color: #FFFFFF;
    font-weight: 700;
}