{% extends 'base.html.twig' %}
{% block title %}Add New Snippet{% endblock %}
{% block stylesheets %}
    <link href="../assets/css/adding.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {% for message in app.flashes('addSnippet') %}
        <div class="flash-notice col-md-12 alert alert-success alert-dismissable ">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">

        <form action="{{ path('addSnippet') }}" method="post" id="formSnippet">

            <div class="row">
                <div class="col-md-12">
                    <div id="snippetHeader">
                        <label for="title">Snippet title:&nbsp;</label>
                        <input type="text" id="title" name="title">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="filesBox">
                    <div id="snippetContent_0">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <label for="fileName_0">File name:&nbsp;</label>
                                <input type="text" id="fileName_0" name="fileName_0">
                            </div>
                            <div class="pull-right">
                                <label for="fileLang_0">File format:&nbsp;</label>
                                <select name="fileLang_0" id="fileLang_0">
                                    {% for lang in langs %}
                                        <option value="{{ lang.name }}">{{ lang.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <label for="snippetArea_0" class="hidden"></label>
                        <label for="fileContent_0" class="hidden"></label>
                        <textarea id="snippetArea_0" rows="15" cols="75"></textarea>
                        <textarea class="hidden" name="fileContent_0" id="fileContent_0" style="display: none"></textarea>
                        <div>
                            <button type="button" class="btn btn-default" id="btnAddFile_0">Add file</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center" id="snippetFooter">
                    <button type="submit" name='submit' class="btn btn-primary">Save snippet
                    </button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="../assets/js/aceEditor.js"></script>
{% endblock %}