{% extends 'base.html.twig' %}
{% block title %}{{ snippet.title }} Details{% endblock %}

{% block stylesheets %}

    <link href="../assets/css/adding.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/snippetDetails.css">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="snippetHeader">
                    <h1>{{ snippet.title }}</h1>
                    <hr class="col-md-9">
                    <p id="snippetInfos" class="col-md-12">Created
                        by {{ snippet.user.username | capitalize }} on {{ snippet.date | date('Y/m/d') }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="filesBox">
                {% for file in snippet.files %}
                    <div id="snippetContent_{{ loop.index - 1 }}">
                        <div class="col-md-12">
                               <h2>{{ file.fileName }} (<span id="fileLang_{{ loop.index - 1 }}">{{ file.language.name }}</span>)</h2>
                        </div>
                        <label for="snippetArea_{{ loop.index - 1 }}" class="hidden"></label>
                        <textarea id="snippetArea_{{ loop.index - 1 }}" rows="15" cols="75">{{ file.content }}</textarea>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center" id="snippetFooter">
                {% if not app.user == null and snippet.user.id == app.user.id %}
                    <a href="{{ path('updateSnippet', {'id': snippet.id}) }}" class="btnLink">
                        <button class="btn btn-primary">Update</button>
                    </a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Snippet</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sur you want delete snippet "{{ snippet.title }}"?</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('deleteSnippet', {'id': snippet.id}) }}" class="btnLink">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="../assets/js/aceEditorDisable.js"></script>
{% endblock %}
