{% extends 'base.html.twig' %}
{% block title %} LibrarySnippet - Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../assets/css/home.css">
{% endblock %}

{% block body %}
    <div class="container">
        {# SEARCH BAR #}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search" id="searchInput" data-path="{{ (path('snippets')) }}">
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                    </span>
                </div>
            </div>
        </div>

        {# SELECT POUR LE FILTRE DES SNIPPETS #}
        <div class="row">
            <div class="col-md-12">
                <label for="languages">Languages: </label>
                <select name="languages" id="languages">
                    <option value="all" selected>All</option>
                    {% for lang in langs %}
                        <option value="{{ lang.name }}">{{ lang.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 table-responsive ">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th{% if pagination.isSorted('s.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 's.title') }}</th>
                        <th {% if pagination.isSorted('l.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Languages', ['l.name']) }}</th>
                        <th{% if pagination.isSorted('u.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Author', ['u.username']) }}</th>
                        <th{% if pagination.isSorted('s.date') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Last Update', ['s.date']) }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="tableBody">
                    {% for snippet in pagination %}
                        <tr>
                            <td>
                                <a href="{{ path('snippetDetails', {'id': snippet.id} ) }}" id="snippetLink">{{ pagination.getPaginationData.firstItemNumber + loop.index - 1 }}</a>
                            </td>
                            <td><a href="{{ path('snippetDetails', {'id': snippet.id} ) }}">
                                    {{ snippet.title }}
                                </a>
                            </td>
                            <td class="snippetLang"> {% for file in snippet.files %}
                                    {% if not loop.last %}
                                        {{ file.language.name }},&nbsp;
                                    {% else %}
                                        {{ file.language.name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ snippet.user.username }}</td>
                            <td>{{ snippet.date| date('M d, Y') }}</td>
                            <td>
                                {% if not app.user == null and snippet.user.id == app.user.id %}
                                    <a href="{{ path('updateSnippet', {'id': snippet.id}) }}" class="btnLink">
                                        <button class="btn btn-primary">Update</button>
                                    </a>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete
                                    </button>
                                {% endif %}
                            </td>
                        </tr>

                        <!-- Modal -->
                        <div id="deleteModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Delete Snippet</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sur you want delete snippet "{{ snippet.title }}"?</p>
                                    </div>
                                    <!-- Modal footer-->
                                    <div class="modal-footer">
                                        <a href="{{ path('deleteSnippet', {'id': snippet.id}) }}" class="btnLink">
                                            <button class="btn btn-danger">Delete</button>
                                        </a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>

                {# display navigation #}
                <div class="navigation text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="../assets/js/filter.js"></script>
{% endblock %}

