{% extends 'base.html.twig' %}
{% block title %}Update Snippet - {{ snippet.title }}{% endblock %}

{% block stylesheets %}
    <link href="../assets/css/adding.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">

        <form action="{{ path('updateSnippet', {'id': snippet.id}) }}" method="post" id="formSnippet">
            <div class="row">
                <div class="col-md-12">
                    <div id="snippetHeader">
                        <label for="title">Snippet title:</label>
                        <input type="text" id="title" name="title" value="{{ snippet.title }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="filesBox">
                    {% for file in snippet.files %}
                        <div id="snippetContent_{{ loop.index - 1 }}">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <label for="fileName_{{ loop.index - 1 }}">File name:&nbsp;</label>
                                    <input type="text" id="fileName_{{ loop.index - 1 }}"
                                           name="fileName_{{ loop.index - 1 }}" value="{{ file.fileName }}">
                                </div>
                                <div class="pull-right">
                                    <label for="fileLang_{{ loop.index - 1 }}">File format:&nbsp;</label>
                                    <select name="fileLang_{{ loop.index - 1 }}" id="fileLang_{{ loop.index - 1 }}">
                                        {% for lang in langs %}
                                            {% if lang.id == file.language.id %}
                                                <option value="{{ lang.name }}" selected>{{ lang.name }}</option>
                                            {% else %}
                                                <option value="{{ lang.name }}">{{ lang.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <label for="snippetArea_{{ loop.index - 1 }}" class="hidden"></label>
                            <label for="fileContent_{{ loop.index - 1 }}" class="hidden"></label>
                            <textarea id="snippetArea_{{ loop.index - 1 }}" rows="15"
                                      cols="75">{{ file.content }}</textarea>
                            <textarea class="hidden" name="fileContent_{{ loop.index - 1 }}"
                                      id="fileContent_{{ loop.index - 1 }}"
                                      style="display: none">{{ file.content }}</textarea>
                            <div>
                                <button type="button" class="btn btn-default" id="btnAddFile_{{ loop.index - 1 }}">Add file</button>
                                <button type="button" class="btn btn-default" id="btnDelFile_{{ loop.index - 1 }}">Delete file</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center" id="snippetFooter">
                    <button type="submit" name='submit' class="btn btn-primary">Update snippet
                    </button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/js/froala_editor.pkgd.min.js"></script>
    <script src="../assets/js/aceEditor.js"></script>
{% endblock %}