{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../assets/css/form.css">
{% endblock %}
{% block body %}
    <div class="container text-center">
        <form action="{{ path('login_check') }}" method="post">
            <div class="row">
                <div class="col-md-12" id="formHeader">
                    <h1>Login!</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="formInfos">
                    <div class="rowInfos">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" autofocus/>
                    </div>
                    <div class="rowInfos">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password"/>
                    </div>
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="formFooter">

                    <button type="submit" class="btn btn-default">Login!</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}