{% extends 'base.html.twig' %}
{% block title %}My account{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../assets/css/form.css">
{% endblock %}

{% block body %}
    <div class="container text-center">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12" id="formHeader">
                <h1>My account</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="formInfos">
                <div class="rowInfos">
                    {{ form_label(form.username, 'Username:') }}
                    {{ form_widget(form.username, { 'attr':{'disabled':'disabled', 'value': app.user.username} }) }}
                </div>

                <div class="rowInfos">
                    {{ form_label(form.email, 'Email:') }}
                    {{ form_widget(form.email, { 'attr':{'disabled':'disabled', 'value': app.user.email} }) }}
                </div>

                <button type="button" id="btnChangeInfos">Change infos</button>

                <div class="hidden" id="changePwd">
                    <a data-toggle="collapse" href="#collapsePwd">Change password?</a>

                    <div id="collapsePwd" class="collapse">
                        <div class="rowInfos">
                            <label for="oldPwd">Old password:</label>
                            <input type="password" id="oldPwd" name="OldPwd">
                        </div>

                        <div class="rowInfos">
                            {{ form_label(form.plainPassword.first, 'New password:') }}
                            {{ form_widget(form.plainPassword.first) }}
                        </div>

                        <div class="rowInfos">
                            {{ form_label(form.plainPassword.second, 'Confirm password:') }}
                            {{ form_widget(form.plainPassword.second) }}
                        </div>

                    </div>
                </div>
                <button type="submit" class="btn btn-default hidden">Update!</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="../assets/js/account.js"></script>
{% endblock %}
