{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../assets/css/form.css">
{% endblock %}

{% block body %}
    <div class="container text-center">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12" id="formHeader">
                <h1>Sign Up!</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="formInfos">
                <div class="rowInfos">
                    {{ form_label(form.username, 'Username:') }}
                    {{ form_widget(form.username) }}
                </div>

                <div class="rowInfos">
                    {{ form_label(form.email, 'Email:') }}
                    {{ form_widget(form.email) }}
                </div>

                <div class="rowInfos">
                    {{ form_label(form.plainPassword.first, 'Password:') }}
                    {{ form_widget(form.plainPassword.first) }}
                </div>

                <div class="rowInfos">
                    {{ form_label(form.plainPassword.second, 'Confirm Password:') }}
                    {{ form_widget(form.plainPassword.second) }}
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="formFooter">
                <button type="submit" class="btn btn-default">Sign Up!</button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}